body {
    width: 100%;
    background: linear-gradient(45deg, #0073ff,#ffacac);
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.calc-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.calculator {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(150px, auto) repeat(5, 60px);
    gap: 10px;
}
button {
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border-radius: 5px;
    color: #434343;
}
.special-button {
    color: #e7e7e0;
    background-color: #434343;
}
.doubled-grid {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    object-fit: none;
    border-radius: 10px;
}
.output .first-operand {
    font-size: 1.5rem;
}
.output .second-operand {
    font-size: 2.5rem;
}